@import url('https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap');

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('./images/starwars.jpg');
  background-size: cover;
}

h2 {
  margin-top: 0%;
}

h3 {
  margin-top: 0%;
}

/* ---- typography ---- */

body {
  color: rgb(255, 247, 247);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

/* ---- layout ---- */

#first-screen-button {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page-title {
  font-size: 3em;
  font-family: 'Bungee Outline', cursive;
  color: rgb(227, 230, 202);
}

#game-screen {
  height: 100vh;;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "left center right"
    "  .  footer footer"
}

.player-one {
  grid-area: left;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-two {
  grid-area: right;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-target {
  grid-area: center;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  width: 80%
}

.footer-one {
  grid-area: center;
  width: 30%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.footer-two {
  grid-area: right;
  width: 40%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.player-one-title {
  color: rgb(196, 207, 31);
}

.player-two-title {
  color: rgb(5, 207, 157);
}

.winner-screen {
  height: 100vh;;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "left right"
    "footer footer";
  color: rgb(255, 247, 247);
}

.winner-screen-playerOne {
  grid-area: left;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner-screen-playerTwo {
  grid-area: right;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner-screen-header {
  grid-area: header;
  align-self: center;
  display: flex;
  justify-content: space-around;
  justify-self: center;
}

.winner-screen-footer {
  grid-area: footer;
  align-self: center;
  justify-self: center
}

.winner-letter {
  font-size: 1.5em;
  font-family: 'Bungee Outline', cursive;
  color: rgb(227, 230, 202);
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}


/* ---- components ---- */

.loading-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-image {
  height: 50px;
  background-color: rgb(255, 247, 247);
}

.button {
  /* width: 25%; */
  background-color: rgb(142, 216, 176);
  color: rgb(15, 79, 116);
  border: 1px solid rgb(62, 71, 68);
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
}

.home-page-button {
  width: 25%;
  font-weight: bold;
}

.target-button {
  width: 70%;
}

img {
  height: 50px;
}
